.item {
  min-width: 200px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-color: #fff;
  box-shadow: 4px 4px 4px 0px rgba(180, 184, 194, 0.75);
  border-radius: 4px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.statusOnline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
.statusOffline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.name {
  font-weight: 500;
}
